html, body {
    margin: 0;          /*Remove margin of the body*/
    height: 100%;       /*Completely fill the window*/
}

/*The canvas occupies all its container (the body of the document)*/
#c {
    width: 100%;
    height: 100%;
    display: block;     /*Default inline (it may add white spaces)*/
}