html, body {
    margin: 0;          /*Remove margin of the body*/
    height: 100%;       /*Completely fill the window*/
    background-color: skyblue;
}

/*The canvas occupies all its container (the body of the document)*/
#c {
    width: 100%;
    height: 100%;
    display: block;     /*Default inline (it may add white spaces)*/
}

t {                     /*Menu title*/
    margin-top: 70px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 75px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
    display: block;
}

subtitle {              /*Also used for the rules*/
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: block;
}

.button-class {
    background-color: red;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-size: 23px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    display: block;
}

#container {            /*"General" div that contains the divs for the gui*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;      /*The div and all the divs it contains are all hidden*/
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 63px;
    font-weight: bold;
    color: black;
}

#power {                    /*Used for span instead of div (it uses one line)*/
    position: relative;     /*It doesn't move when more digits appear*/
    top: 88%;
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: 55px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
}

#timer {
    position: absolute;
    top: 75%;
    left: 86%;
    font-size: 120px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: goldenrod;
    display: block; 
}